<td box ng-repeat="b in a.boxes track by $index" tag="b.title" text="b.text" type="b.type" index="$index" class="box" remove="a.remove(index)"></td>
<td id="boxAction" class="">
  <div class="btn-floating btn tooltipped waves-effect waves-light blue boxBtn" data-position="right" data-delay="50" data-tooltip="Defend" ng-click="a.extend($index)"><i class="material-icons">send</i></div>
  <div class="btn-floating btn tooltipped waves-effect waves-light red boxBtn" data-position="right" data-delay="50" data-tooltip="Respond" ng-click="a.respond($index)"><i class="material-icons">block</i></div>
  <div class="btn-floating btn tooltipped waves-effect waves-light green boxBtn" data-position="right" data-delay="50" data-tooltip="Extend" ng-click="a.arrow($index)"><i class="material-icons">keyboard_arrow_right</i></div>
</td>
