<!doctype html>
<html>

<div ng-controller="speechManagerCtrl" id="speechManager">
	<div ng-show="sTags.length == 0" class="card-panel">
		<p> You haven't made any speeches. Click the purple plus below to get started!</p>
	</div>
	<ul ng-show="sTags.length >= 0" class="bodyCentered">
		<div class="collection">
			<a ng-click="openSpeech(x[0])" class="collection-item black-text" ng-repeat="x in sTags track by $index">{{x[0]}}<span class="badge">{{x[1]}}</span></a>
		</div>
	</ul>

	<div id="speechModal" class="modalpad modal modal-fixed-footer">
		<div class="modal-header">
			<span id="modalButtons" class="right">
				<a class="tooltipped" ng-click="fullscreen()" data-position="bottom" data-delay="50" data-tooltip="Edit Card"><i class="material-icons small">edit</i></a>
				<a class="tooltipped" ng-click="detach()" data-position="bottom" data-delay="50" data-tooltip="New Window"><i class="material-icons small">flip_to_front</i></a>
			</span>
			<h4 class="truncate">{{titleContent.title}}</h4>
		</div>
		<div class="modal-content" style="padding-left: 10px;">
			<div ng-bind-html="framework"></div>
			<div ng-repeat="i in points track by $index">
				<h5 class="light">{{$index + 1}}. {{points[$index].tagline}}</h5>
				<div ng-bind-html="points[$index].content" class="point"></div>
			</div>
		</div>
		<div class="modal-footer">
			<a class=" modal-action modal-close waves-effect waves-blue btn-flat" style="margin-right: 20px;">Close</a>
		</div>
	</div>

	<div class="addButton">
		<a class="btn-floating btn-large waves-effect waves-light purple lighten-1" href="#!/speech"><i class="material-icons">add</i></a>
	</div>

</div>

</html>
