
release/*

app/node_modules/*

dist/*

node_modules/*

app/bower_components/*

.jshintrc

.settings/.jsdtscope

.settings/com.eclipsesource.jshint.ui.prefs

.tern-project

.sublime-project

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

.settings/org.eclipse.wst.jsdt.core.prefs
