#wrapper {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.tb {
 background-color:rgba(255, 255, 255, 0.58);
 margin-top: 2%;
 padding: 0.2em;
 text-align: center;
 line-height: 100%;
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
 border-radius: 6px;
}

img {
  width: auto;
}

#icon {
  padding-top: 6%;
  height: 65%;
}

#title {
  font-size: 5em;
}

#authors {
  padding: 0.2em;
  bottom: 2em;
  font-size: 36px;
}
