#thefilemanager{
  margin-left: -30px;
  margin-right: -10px;
  font-size: 14px;
  padding-top: 20px;
}

#thefilemanager: ul {
  margin-left: -20px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  list-style: none;
}

li {
  list-style: none;
  padding-bottom: 10px;
}

.foldertext {
  font-size: 14px;
  padding: 10px 10px 10px 60px;
  margin: -10px -10px 10px -36px;
}

.foldertext:hover {
  background-color: #7E57C2;
  color: white;
}
a.linktext:link {
  color: #272727;
  text-decoration: none;
}

a.linktext:hover {
  color: #272727;
  text-decoration: underline;
}

.filetext {
  padding-left: 10px;
}
