.cell {
  margin: 0.5em;
  min-width: 12em;
  width: 20%;
  min-height: 50px;
}

.row {
  display: flex;
  flex-flow: row;
}

textarea {
  resize: vertical;
}

#flowspace {
  width: 100%;
  height: 100%;
}
