body {
  background-color: #eeeeee;
  /*grey lighten-3*/
  font-family: Roboto;
}


.bodyCentered {
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

input {
  border-color: #2196f3;
}

.leftLabel {
  margin-left: -12px !important;
}

::-webkit-scrollbar {
    display: none;
}

.navIcons {
  height: auto;
}

nav li {
  margin: none;
  line-height: 0;
  height: auto;
  padding: none;
}

.viewPort {
  padding-top: 70px !important;
  padding-bottom: 30px !important;
}

@media (max-width: 860px) {
  .card {
    width: 100% !important;
    border-radius: 0px !important;
    margin-right: -100px !important;
  }
  /*
  .container {
    padding: 0px;
    margin: 0px;
  }*/
/*
  .theBackground {
    width: 100%;
    background-color: #9C27B0;
    /*teal darken-1*//*
  }*/

}

.savedeleteButton {
  font-size: 20px;
  position: fixed;
  bottom: 110px;
  right: 24px;

}

.addButton {
  font-size: 20px;
  position: fixed;
  bottom: 45px;
  right: 24px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
