body {
  background-color: #eeeeee;
  /*grey lighten-3*/
  font-family: Roboto;
}


.bodyCentered {
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

input {
  border-color: #2196f3;
}

.bodyPad {
  padding-bottom: 120px;
  height: 100vh;
  overflow: auto;
}

#postEditor {
  font-family: Roboto;
}

.leftLabel {
  margin-left: -12px !important;
}

::-webkit-scrollbar {
    display: none;
}


.navBarFontSize {
  font-size: 20px !important;
}



@media (min-width:1200px) {
  /*
  .theBackground {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #9C27B0;
    /*z-index: 0 !important;*/
    /*teal darken-1*//*
  }
  /*
  .addButton {
    font-size: 20px;
    position: fixed;
    top: calc(30% - 30px);
    right: calc((100% - 900px)/4);
  }*/
}
@media (max-width: 1199px) {
  /*.theBackground {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #9C27B0;
    /*teal darken-1*//*
  }

  .addButton {
    font-size: 20px;
    position: fixed;
    top: calc(30% - 30px);
    right: calc((100% - 855px)/2);
  }
  */
}

@media (max-width: 860px) {
  .card {
    border-radius: 0px;
  }
/*
  .theBackground {
    width: 100%;
    background-color: #9C27B0;
    /*teal darken-1*//*
  }*/

}

.savedeleteButton {
  font-size: 20px;
  position: fixed;
  bottom: 110px;
  right: 24px;

}

.addButton {
  font-size: 20px;
  position: fixed;
  bottom: 45px;
  right: 24px;
}
