.foldertext{
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
}

.foldertext:hover{
  background-color: purple;
  color: white;
}

.highlight {
  background-color: purple;
}

.leftPart {
  width: 20%;
  height: calc(100vh - 100px);
  color: black;
}

.rightPart {
  margin-left: 10px;
  flex-grow: 100;
  width: 500px;
}

.linktext{
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
}

.linktext a {
  color: black;
}

.linktext a:hover {
  color: purple;
}
