<!doctype html>
<html>
<link href="cardManager/cardManager.css" rel="stylesheet" type="text/css" />
<div class="container">
	Card Manager
</div>

<div id = "fileManager" ng-controller="cardManagerCtrl">
	<div class = "wrapper">
  	<div class = "leftPart container" >

	    <div class = "foldertext" ng-click = "hideToggle($index)" ng-repeat="x in dataJSON[0] track by $index">
	      {{dataJSON[0][$index]}}
	    </div>
			<!--
	    <div ng-hide = "hideList[$index]">
	    <li ng-repeat="y in dataJSON[1][$index] track by $index" class = "theLI">
	      <a href = "{{URIGenerate(dataJSON[1][$parent.$index][$index])}}" class = "linktext">
	      {{dataJSON[1][$parent.$index][$index]}}
	      </a>
	    </li>
	  </div>
	-->
	  </div>
		<div class = "rightPart container">
			hi
			<a href = "#card">Card editor</a>
			<a href = "#card/tag">Card Go Test</a>

		</div>

	</div>
</div>

<script src="cardManager/cardManager.js"></script>
<!--
<div id = "thefilemanager">
</div>

<script src="cardManager/cardManagerBAD.js"></script>
-->
</html>
