#thefilemanager ul{
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}
#thefilemanager li{
  list-style-type: none;
  padding-left: 15px;
  margin: 10px;
}
#thefilemanager a{
  color: black;
  font-size: 20px;
}

.foldertext{
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.foldertext:hover{
  background-color: purple;
  color: white;
}
