<!doctype html>
<link href="bower_components/medium-editor/dist/css/medium-editor.css" rel="stylesheet">
<link href="bower_components/medium-editor/dist/css/themes/flat.css" rel="stylesheet">
<link href="css/materialize.css" rel="stylesheet">
<link href="node_modules/angularjs-toaster/toaster.css" rel="stylesheet">
<link href="newCard/newCard.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">


<toaster-container></toaster-container>
<div id="card-wrapper" class="card bodyCentered">
	<div id="card-content">
		<div id="main-content">
      <h1 style="font-weight: 100;">Card Creator</h1>
			<div id="title" class="card textDiv">
        <div class="card-content black-text">
              <span class="card-title">Card Title</span>
              <input ng-model="title" placeholder="The Card that says the thing" type="text">
        </div>
			</div>
      <div class="card" id="cite">
        <div class="card-content black-text">
              <span class="card-title">Citation</span>
              <input ng-model="cite" placeholder="Brown, J. D. 'Librarians as Business People: A Review of the Literature.' Journal of For-Profit Librarianship 28 (2006): 421-436. Academic Search Premier. Web. 15 May 2007." type="text">
        </div>
			</div>
      <div class="card" id="sTags">
        <div class="card-content black-text">
              <span class="card-title">Searchable Tags</span>
              <div class="chips"></div>
        </div>
			</div>
			<div class="card textDiv" id="content">
        <div class="card-content black-text">
              <span class="card-title">Content</span>
              <p medium-editor ng-model="content" data-placeholder="Card Text goes here, not your own stuff!"></p>
        </div>
			</div>
      <div id="notes" class="card textDiv">
        <div class="card-content black-text">
              <span class="card-title">Notes</span>
              <p medium-editor ng-model="notes" data-placeholder="Notes/Analysis"></p>
        </div>
			</div>
			<div id="buttons">
				<button id="saveButton" class="waves-effect waves-light btn" ng-click="saveFunction()">Save</button>
			</div>
		</div>
	</div>
</div>
