<!doctype html>

<head>
    <meta charset="utf-8">
    <title>Testing</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/css/editorstyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rangy/1.2.3/rangy-core.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.0/textAngular-sanitize.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.0/textAngular.min.js'></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="js/controllers.js"></script>

    <title>
        FastFlow
    </title>
</head>

<body ng-app="fastFlow">
        <div class="well" id="editor" ng-controller="cardCreator">
            <div class="alert" ng-show="showInfo" ng-class="{'alert-info': !error, 'alert-danger': error}" role="alert">{{info}}</div>

            <form ng-submit="save(contents)" name="saveCard">
                <div class="form-group">
                    <h2>Tagline</h2>
                    <text-angular ng-model="dataT" ta-toolbar="[]" id="tooldbar" id="tag"></text-angular>
                    <h2>Citation</h2>
                    <text-angular ng-model="dataC" ta-toolbar="[]" id="tooldbar" id="cite"></text-angular>
                    <h2>Content</h2>
                    <text-angular ng-model="dataD" ta-toolbar="[['h1','h2','h3'],['bold','italics','underline'],['undo','redo']]" id="tooldbar" id="content"></text-angular>
                </div>
                <hr/>
                <button class="btn btn-success" type="submit" id="save">Save Card</button>

            </form>
        </div>
</body>

</html>
