<!doctype html>
<html>

<head>
	<script>
		window.$ = window.jQuery = require('jquery');
	</script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FastFlow</title>
	<link href="css/mui.min.css" rel="stylesheet" type="text/css" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<link href="flow/flow.css" rel="stylesheet" type="text/css" />
	<link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="../node_modules/angular-mass-autocomplete/massautocomplete.theme.css" rel="stylesheet" type="text/css">

	<script src="../node_modules/angular/angular.min.js"></script>
	<script src="../node_modules/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="../node_modules/jquery/dist/jquery.js"></script>
	<script src="../node_modules/angular-mass-autocomplete/massautocomplete.js"></script>
	<script src="../node_modules/fuse.js/src/fuse.js"></script>

	<script src="js/mui.min.js"></script>

	<script>
		$(function() {
			$("#common").load("common.html");
		});
	</script>
	<script src="flow/flow.js"></script>

</head>

<body>
	<div id="common"></div>
	<div id="content-wrapper" style="overflow: auto;">
		<div class="mui--appbar-height"></div>
		<div class="mui-container-fluid" ng-app="flowing" ng-controller="flowController" style="padding-top: 5px;">
			<h1>
				<div contenteditable="true" data-ph="Untitled Flow" id="title" ng-bind="title" ng-click="unHide()"></div>
			</h1>
			<p></p>
			<table id="flowspace">
				<div mass-autocomplete>
					<div class="row" ng-repeat="r in flow track by $index">
						{{$index + 1}}
						<span class="cell mui-panel" ng-repeat="cell in r track by $index">
							<button class="cardButton" ng-click="clearBox($index, $parent.$index)">x</button>
							<textarea ng-model="cell.text" class="textbox" mass-autocomplete-item="autocomplete_options" ng-click="select(cell)"></textarea>
							<div ng-repeat="card in cell.cards track by $index" ng-if="card">
								<ffcardref title="card" delete-func="console.log('memes')" class="card mui-panel"></ffcardref>
							</div>
						</span>
						<button class="mui-btn mui-btn--fab mui-btn--primary" ng-click="newSpeech()">+</button>
					</div>
					<button class="mui-btn mui-btn--fab mui-btn--primary" ng-click="newContention()">C</button>
				</div>
			</table>
			<button id="deleteButton" class="mui-btn mui-btn--primary" ng-click="deleteFunction()" ng-hide="hideDelete">Delete</button>
			<button id="saveButton" class="mui-btn mui-btn--primary" ng-click="saveFunction()" ng-hide="hideSave">Save</button>
		</div>
	</div>

	<script src="flow/cardRef.js"></script>
</body>

</html>
