<div class="card" ng-class="b.getStyle(b.type)">
<td>
  <a ng-click="b.toggleCritical()" ng-show="b.index !== 0" class="left boxCriticalBtn"><i class="material-icons">star_rate</i></a>
  <a ng-click="b.rmbox()" class="waves-effect waves-red right boxClose"><i class="material-icons">clear</i></a>
  <div ng-show="b.index == 0" class="input-field constructiveTitle">
      <input type="text" ng-model="b.tag" placeholder="Tagline">
  </div>
  <textarea ng-show="b.type != 'arrow'" ng-model="b.text" class="materialize-textarea"></textarea>
</td>
</div>
