.textbox{
  width: 200px;
  min-height: 50px;
  border-bottom-style: solid;
  border-bottom-color: #673AB7;
  border-bottom-width: 2px;
}

#flowspace td{
  vertical-align:top;
}

#flowspace a{
  color: #BDBDBD;
  text-decoration: none;
}

#flowspace a:visited{
  color: #BDBDBD;
  text-decoration: none;
}

#flowspace a:hover{
  color: #0277BD;
  text-decoration: none;
}

#flowspace a:active{
  color: #0277BD;
  text-decoration: none;
}
