<!doctype html>
<html>

<link href="flow/flow.css" rel="stylesheet" type="text/css" />
<link href="node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="node_modules/angular-mass-autocomplete/massautocomplete.theme.css" rel="stylesheet" type="text/css">
<script src="node_modules/fuse.js/src/fuse.js"></script>

<body>
		<div class="mui--appbar-height"></div>
		<div class="mui-container-fluid" style="padding-top: 5px;">
			<h1>
				<div contenteditable="true" data-ph="Untitled Flow" id="title" ng-bind="title" ng-click="unHide()"></div>
			</h1>
			<p></p>
			<table id="flowspace">
				<div mass-autocomplete>
					<div class="row" ng-repeat="r in flow track by $index">
						{{$index + 1}}
						<span class="cell mui-panel" ng-repeat="cell in r track by $index">
							<button class="cardButton" ng-click="clearBox($index, $parent.$index)">x</button>
							<textarea ng-model="cell.text" class="textbox" mass-autocomplete-item="autocomplete_options" ng-click="select(cell)"></textarea>
							<div ng-repeat="card in cell.cards track by $index" ng-if="card">
								<ffcardref style="1" title="card" delete-func="console.log('memes')" class="card mui-panel"></ffcardref>
							</div>
						</span>
						<button class="mui-btn mui-btn--fab mui-btn--primary" ng-click="newSpeech()">+</button>
					</div>
					<button class="mui-btn mui-btn--fab mui-btn--primary" ng-click="newContention()">C</button>
				</div>
			</table>
			<button id="deleteButton" class="mui-btn mui-btn--primary" ng-click="deleteFunction()" ng-hide="hideDelete">Delete</button>
			<button id="saveButton" class="mui-btn mui-btn--primary" ng-click="saveFunction()" ng-hide="hideSave">Save</button>
		</div>
	</div>
</body>

</html>
