.pointCard {
  padding-left: 5px;
  width: calc(100% - 60px);
}

.medium-editor-placeholder:after {
  color: black !important;
}

.inline {
  display: inline-block;
}

.spaceOut {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.noLabelPad {
  padding-right: -10px !important;
}


.radioPad {
  padding-right: 10px;
}

.newButton {
  font-size: 20px;
  position: fixed;
  bottom: 45px;
  right: 100px;
}
