<!doctype html>
<link href="bower_components/medium-editor/dist/css/medium-editor.css" rel="stylesheet">
<link href="bower_components/medium-editor/dist/css/themes/flat.css" rel="stylesheet">
<link href="css/materialize.css" rel="stylesheet">
<link href="node_modules/angularjs-toaster/toaster.css" rel="stylesheet">
<link href="speech/speech.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">


<!--<toaster-container></toaster-container>-->

<div ng-repeat="i in points track by $index">

	<div class="card bodyCentered">
		<div class="parent">
			<div class="card-title narrow">{{$index + 1}}</div>
			<div class="card-content wide">
				<div contenteditable="true" class="card-title" ng-model="points[$index].tagline" placeholder="Tagline" style="margin-bottom: 0px;"></div>
				<div contenteditable="true" style = "background-color:pink;" ng-model="points[$index].content" data-placeholder="Content" medium-editor></div>
			</div>
		</div>
		<!--
   <div class="card-action">
     <a href="#">Delete</a>
     <a href="#">Save</a>
   </div>-->
	</div>

</div>
<div class="fixed-action-btn savedeleteButton">
	<a class="btn-floating btn-large blue">
		<i class="large material-icons">done</i>
	</a>
	<ul>
		<li><a class="btn-floating blue"><i class="material-icons">save</i></a></li>
		<li><a class="btn-floating blue"><i class="material-icons">delete</i></a></li>
		<li><a class="btn-floating blue"><i class="material-icons">publish</i></a></li>
		<li><a class="btn-floating blue"><i class="material-icons">format_quote</i></a></li>
	</ul>
</div>

<div class="fixed-action-btn addButton">
	<a class="addbutton btn-floating btn-large waves-effect waves-light blue" ng-click="newPoint()"><i class="material-icons" >add</i></a>
</div>
