<!doctype html>
<html>

	<link href="settings/settings.css" rel="stylesheet" type="text/css" />

	<div ng-controller="settingsCtrl">

		<div class="card-panel hoverable" ng-click="test()">Importing</div>

		<div class="card-panel hoverable" ng-click="test()">Exporting</div>

		<div class="card-panel hoverable" ng-click="test()">
			<span>Colour Scheme</span>
			<div class="switch">
					<label>
						Light
					<input type="checkbox">
					<span class="lever"></span>
						Dark
					</label>
				</div>
		</div>

	</div>

</html>
