/*
//==============================================================================
//GENERAL//
//==============================================================================
*/

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

#navImg {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: inline;
  height: 3.5em;
}

.title {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

main {
  flex: 1 0 auto;
  width: 100%;
  min-height: 100%;
}

/*
//==============================================================================
//FLOW//
//==============================================================================
*/

.flow {
  width: 47%;
  min-height: 100%;
}

.flowL {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.flowR {
  margin: 1%;
}

contention table {
  padding-top: 0.5em;
  width: auto;
}

contention td {
  min-width: 10em;
  padding: 0.2em 0.3rem;
  min-height: 3rem;
  vertical-align: top;
}

contention tr {

}

contention {
  display: block;
  width: 100%;
  overflow: auto;
}

flow {

}

#addArg {
  display: block;
  margin-bottom: 2em;
}

#boxAction {
  display: flex;
  flex-direction: column;
}

.arrow {
  height: 5rem;
}

.input-field, input, .constructiveTitle {
  margin: 0 0 0 0!important;
  padding-bottom: 0;
}

textarea {
  margin-bottom: 0 !important;
}

.boxBtn {
  opacity: 0.5;
  margin-top: 0.5em;
  width: 2rem;
  height: 2rem;
}

.boxBtn:hover {
  opacity: 1;
}

.boxBtn > i {
  margin-top: -6px;
  display: inline;
  line-height: 2.2rem;
  font-size: 1.5rem;
}

.boxClose {
  position: absolute;
  right: 0;
  top: 0;
  color: #D8D8D8;
  opacity: 0.3;
}

.boxClose:hover {
  color: #424242;
  opacity: 1;
}

/*
//==============================================================================
//DOWNLOAD//
//==============================================================================
*/

.centerAlign {
  margin-left: auto;
}

#dlModal > .modal-content {
  height: 100%;
  width: 100%;
}

/*
//==============================================================================
//lsManager//
//==============================================================================
*/

#lsManagerModal > .modal-content > table {
  width: 70%;
}

#lsManagerModal > .modal-content > td {
  width: 100px;
}
