/*
//==============================================================================
//GENERAL//
//==============================================================================
*/

html {
  height: 100%;
}

body {
  width: 100%;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  margin: 0;
}

#navImg {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: inline;
  height: 3.5em;
}

.title {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.viewPort {
  margin: 0 2%;
}

main {
  flex: 1 0 auto;
  width: 100%;
  min-height: 100%;
}

main > .input-field:hover {
  margin-bottom: 0.5em;
}

#flowTitle {
  padding: 0.1em;
}

/*
//==============================================================================
//FLOW//
//==============================================================================
*/
flow {
  height: auto;
  width: auto;
}

#flowContainer {
  margin: 1em 0;
  display: block;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  height: auto;
}

.flow {
  vertical-align: top;
  display: inline-block;
  width: 48%;
  margin: 0.6em 0.5%;
  height: auto;
  transition-duration: 0.6s;
}

.flow > .input-field {
  padding-left: 1em;
}

.flow > .input-field > input {
  border-bottom: none !important;
  box-shadow: none !important;
}

.flowExpanded {
  width: 99%;
}

.flowExpandBtn {
  position: absolute;
  right: 0;
  top: 0;
  color: #424242;
  opacity: 0.3;
  cursor: pointer;
  z-index: 2;
}

.flowExpandBtn:hover {
  opacity: 1;
}

/*
//==============================================================================
//CONTENTION//
//==============================================================================
*/
contention {
  display: block;
  overflow: scroll;
  width: auto;
}

contention table {
  padding-top: 0.5em;
  width: auto;
}

contention > .card {
  margin-bottom: none;
  margin-top: none;
  width: auto;
}

contention td {
  min-width: 10em;
  padding: 0.2em 0.3rem;
  min-height: 3rem;
  vertical-align: top;
}

contention tr {

}

contention > table {
  margin-top: 0.5em;
}

/*
//==============================================================================
//ARGUEMENT//
//==============================================================================
*/

#addArg {
  display: block;
  margin-bottom: 2em;
}

arguement {
  width: auto;
}

#boxAction {
  display: flex;
  flex-direction: column;
}

.arrow {
  height: 5rem;
}

.input-field, input, .constructiveTitle {
  margin: 0 0 0 0!important;
  padding-bottom: 0;
}

textarea {
  margin-bottom: 0 !important;
}

.boxBtn {
  opacity: 0.5;
  margin-bottom: 0.2em;

}

.boxBtn:hover {
  opacity: 1;
}

.boxBtn > i {

}

/*
//==============================================================================
//BOX//
//==============================================================================
*/

.boxClose {
  position: absolute;
  right: 0;
  top: 0;
  color: #D8D8D8;
  opacity: 0.2;
}

.boxClose:hover {
  color: #424242;
  opacity: 1;
}

.boxCriticalBtn {
  max-width: 1em;
  margin-top: -6px;
  position: absolute;
  left: 0;
  top: 0;
  color: #D8D8D8;
  opacity: 0.2;
  width: 1em;
}

.boxCriticalBtn > i {
  max-width: 1em;
  display: inline;
  line-height: 2.2rem;
  font-size: 1.5rem;
}

.boxCriticalBtn:hover {
  color: #424242;
  opacity: 1;
  cursor: pointer;
}

.boxCriticalBorder {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.boxCriticalBorder > .boxCriticalBtn {
  color: #424242;
  opacity: 0.8;
}

/*
//==============================================================================
//lsManager//
//==============================================================================
*/

#lsManagerModal > .modal-content > table {
  width: 70%;
}

#lsManagerModal > .modal-content > td {
  width: 100px;
}
