html {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica', sans-serif;
  color: black;
  font-size: 100px;
}
#nav {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: #493157;
  font-size: 30px;
  color: white;
  z-index: 0;
}



#links {
  z-index : -1;
  text-align: right;
}
#links a:link, a:visited  {
  margin-left:-4px;
  padding: 10px 10px 10px 10px;
  color: white;
  text-decoration: none;
}
#links a:hover, a:active {
  margin-left:-4px;
  padding: 10px 10px 10px 10px;
  color: #493157;
  background-color: white;
}

ul, li {
    padding: 0;
    list-style-type: none;
}

#select{
  top: -20px;
  left: 20px;
  z-index : 2;
  font-size: 30px;
  position: fixed;
  padding-left: 10px;
  color: white;
}
#select ul ul {
	display: none;
}

	#select ul li:hover > ul{
    display: block;
	}
  #selectbutton:hover {
    margin-top: -11px;
    padding-top: 10px;
    margin-left: -10px;
    padding-left: 10px;
    color: #493157;
    background-color: white;
  }

#select a:link, a:visited  {
  font-style: normal;
  margin-left: -10px;
  padding: 10px 10px 10px 10px;
  color: white;
  text-decoration: none;
  background-color: #493157;
}
#select a:hover, a:active {
  font-style: normal;
  margin-left: -10px;
  padding: 10px 10px 10px 10px;
  color: #493157;
  background-color: white;
}
#select p {
  margin-top:19px;
  margin-bottom: 19px;
}

#BIU {
  padding-left: 240px;
}
#BIU b, i, u {
  padding-right: 10px;
}
