/**
 * Body CSS
 */

html,
body {
<<<<<<< HEAD
=======
    font-family: 'Open Sans', sans-serif;
    background-color: #4c3e9d;
    font-size: 20px;
    height: 100%;
}

#sidebar {
    color: white;
    position: relative;
    float: left;
    width: 22%;
    top: -5px;
}

#sidebar ul,
li {
    padding: 5px 0px 5px 0px;
    margin: 5px -55px 5px -5px;
    list-style: none;
}

#sidebar a:link {
    position: inherit;
    display: block;
    padding: 5px 4% 5px 4%;
    margin-bottom: -5px 0px -5px 0px;
    text-decoration: none;
    color: white;
}

#sidebar a:hover {
    display: block;
    color: white;
    background-color: #6c5cc9;
    text-decoration: none;
}

#sidebar a:active {
    display: block;
    width: 100%;
    color: white;
    background-color: #6c5cc9;
    text-decoration: none;
}

.mode:hover span {
    display: none;
}

#sidebar input[type="text"] {
    font-size: 18px;
    padding: 7px 20px 7px 20px;
    outline: none;
    border: none;
    border-bottom: solid 2px #e6e6e6;
    background-color: #6c5cc9;
    color: white;
    margin-top: -5px;
    width: 98%;
}

#page {
    padding: 10px 15px 0px 15px;
    position: fixed;
    float: right;
    top: 0px;
    right: 0px;
    width: 78%;
    height: 100%;
    background-color: white;
    overflow: auto;
    text-align: left;
}

#title {
    font-size: 30px;
    font-weight: bold;
}

iframe {
  display: block
  border: 0px;
  width: 100%;
>>>>>>> 62d1353a4860c40d6560a49b3abd9b5451781173
  height: 100%;
  background-color: white;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;
  overflow: auto;
  z-index: 2;
  color: #424242;
  background-color: #EEEEEE;
  transition: transform 0.2s;
}
#sidedrawer a {
  color: #424242;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;

  /* sticky bottom */
  margin-bottom: -160px;
  padding-bottom: 160px;
}

#footer {
  height: 160px;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

@media (min-width: 768px) {
  #header {
    left: 200px;
  }

  #sidedrawer {
    transform: translate(200px);
  }

  #content-wrapper {
    margin-left: 200px;
  }

  #footer {
    margin-left: 200px;
  }

  body.hide-sidedrawer #header {
    left: 0;
  }

  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }

  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }

  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}


/**
 * Toggle Sidedrawer
 */
#sidedrawer.active {
  transform: translate(200px);
}


/**
 * Header CSS
 */

.sidedrawer-toggle {
  color: white;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: white;
  text-decoration: none;
}


/**
 * Sidedrawer CSS
 */

#sidedrawer-brand {
  padding-left: 20px;
}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidedrawer strong:hover {
  color: white;
  background-color: #7E57C2;
}

#sidedrawer strong + ul > li {
  padding: 6px 0px;
}


/**
 * Footer CSS
 */

#footer {
  background-color: white;
  color: black;
}

#footer a {
  text-decoration: underline;
}


.mui-appbar{
  background-color: #673AB7;
  color: black;
}

#sidebarinput{
  background-color: #F5F5F5;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
