

#right-content {
  overflow-y: scroll;
  height: 100%;
}
/*
p {
  resize: vertical;
  width: 100%;
  height: auto;
  outline: none;
  padding: 0 0.2 0 0.2;
}
textarea {
  width: 100%;
  outline: none;
  border-width: 0;
  padding: 0 0.2 0 0.2;
}
#content {
  min-height: 15em;
}
#title div {
  margin-top: 1em;
  border: none;
  font-size: 24px;
  font-weight: 500px;
  padding-bottom: 0;
  padding-top: 0;
}
#cite div {
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: visible;
  padding-top: 0;
  border: none;
  font-size: 14px;
  font-weight: 200;
  padding-bottom: 0;
}
textarea {
  border: none;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: visible;
}
#card-content {
  padding: 1.5em;
}
#left-content {
  padding-top: 2vh;
}
.addenum {
  background-color: #D8D8D8;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0.3em;
  font-size: 18px;
  margin-bottom: 1.5em;
}
strong, b {
  font-weight: 700;
}
#notes p {
  padding-top: 1em;
  border-top: 1px solid #e0e0e0;
  font-size: 1.5em;
  font-weight: 100;
}
.fixed-action-btn {
  position: absolute;
  top: 85vh;
  right: 20vw;
}
*/
.chip {
  margin-right: 0.2em;
}
.divider {
  margin-right: -20px;
  padding-right: 20px;
  margin-left: -20px;
  padding-left: 20px;
}

.inputStyle {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  margin-right: -20px !important;
  padding-right: 20px !important;
  margin-left: -20px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 20px !important;

}

.inputStyleThin {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
