<!doctype html>
<div id="card-wrapper" class="card bodyCentered">
	<div class = "card-content">
		<div class="card-title" contenteditable ng-model="title"></div>

		<div class="grey-text darken-1" contenteditable ng-model="cite"></div>

		<div class="chips" style = "padding-top: 10px;"></div>
		<p medium-editor ng-model="content" placeholder="Content" style = "min-height: 300px;"></p>

		<div class="divider grey-text darken-1"></div>
		<p medium-editor class = "card-title grey-text darken-1" ng-model="notes"></p>
	</div>
</div>

<div id="deleteConfirmation" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4 class="truncate">Delete Card</h4>
		<p>Are you sure you want to delete <i>{{title}}</i></p>
		<p>This action is final, this evidence will be gone forever.</p>
	</div>
	<div class="modal-footer">
		<a class=" modal-action modal-close waves-effect waves-red btn-flat" ng-click="delete()">Delete Card</a>
		<a class=" modal-action modal-close waves-effect waves-blue btn-flat">Cancel</a>
	</div>
</div>
