<!doctype html>
<link href="bower_components/medium-editor/dist/css/medium-editor.css" rel="stylesheet">
<link href="bower_components/medium-editor/dist/css/themes/flat.css" rel="stylesheet">
<link href="css/materialize.css" rel="stylesheet">
<link href="node_modules/angularjs-toaster/toaster.css" rel="stylesheet">
<link href="card/card.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">


<!--<toaster-container></toaster-container>-->
<div id="card-wrapper" class="card bodyCentered">



  <div id="card-content" class="row">
    <div id="main-content" class="col s9">
      <div id="title" class="textDiv">
        <div ng-click="buttonShow()">
          <input ng-model="title" placeholder="Card Title" type="text">
        </div>
      </div>
      <div class="textDiv" id="content" ng-click="buttonShow()">
        <p medium-editor ng-model="content" placeholder="Content"></p>
      </div>
      <div id="buttons">
        <button id="deleteButton" ng-show="showDelete" class="waves-effect waves-light btn" ng-click="deleteFunction()">Delete</button>
        <button id="saveButton" ng-show="showSave" class="waves-effect waves-light btn" ng-click="saveFunction()">Save</button>
      </div>
    </div>
    <div id="left-content" class="col s3">
      <div class="addenum" id="sTags">
        <i>Searchable Tags:</i><br>
        <input ng-model="tags" placeholder="sTag1, sTag2, sTag3" id="tags" type="text">
      </div>
    </div>
  </div>
</div>
