[contenteditable]:focus {
  outline: none;
}

#card-content {
  padding: 1.5em;
}

#left-content {
  padding-top: 2vh;
}

strong, b {
  font-weight: 700;
}

.chip {
  margin-right: 3px;
  margin-top: 3px;
}

.modal {
  position: absolute;
  width: 40vw;
  height: 40vh;
}
